@page "/sheet3/{OrderNum:int}"
@layout SheetLayout

@inject IJSRuntime JS

<div class="col-md-10">
    <p>Sheet3</p>
    <CascadingValue Name="OrderNum" Value="@OrderNum">
        <Folio3></Folio3>
    </CascadingValue>
</div>


@code{
    [Parameter]
    public int OrderNum { get; set; }
}


